@page
@model OdeToCharacters.Pages.C2.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Character.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Character.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Character.PlaceOfOrigin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Character.PlaceOfOrigin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Character.Race)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Character.Race)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Character.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
